

# UI
streamlit==1.32.2

# Environment variables
python-dotenv==1.0.1

# LangChain core
langchain==0.2.16
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-groq==0.1.9
langchain-huggingface==0.0.3

# Embeddings
sentence-transformers==2.7.0

nltk==3.8.1


# Vector database
chromadb==0.4.24

# Document loaders
unstructured==0.14.6
pypdf==4.2.0

# Utils (required by unstructured)
numpy==1.26.4
tqdm==4.66.4




